<div id="page_top">
  <a id="top"></a>
    <%= render 'visitors/top' %>
</div>

<div id="page_lead">
  <a id="lead"></a>
    <%= render 'visitors/lead' %>
</div>


<div id="page_about">
  <a id="about"></a>
    <%= render 'visitors/about' %>
</div>



<div id="page_service">
  <a id="service"></a>
    <%= render 'visitors/service' %>
</div>



<div id="page_contact">
  <a id="contact"></a>
    <%= render 'visitors/contact' %>
</div>
